*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'SF pro display';
}

body,
html{
    width: 100%;
    height: 100%;
}

#main{
  overflow: hidden;
  position: relative;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 7vh;
    width: 50vw;
    /* background-color: #000; */
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 9;
}

#page>nav>button{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
}

#page>nav>a{
    color: #fff;
}

#page>video{
    position: absolute;
    height: 100%;
    width: 50%;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
}

#page>img{
    display: none;
}

.page-bottom{
    height: 20%;
    width: 25%;
    /* background-color: aqua; */
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-bottom h3{
    margin-top: 1vw;
}

.page-bottom img{
    width: 20vw;
    height: 7vh;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>h1{
    font-size: 4vw;
    font-weight: 400;
    position: absolute;
    color: #fff;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2>h1{
    font-size: 4vw;
    font-weight: 400;
    position: absolute;
    color: #fff;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#page3>img{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page3-upper{
    width: 30%;
    height: 40%;
    /* background-color: greenyellow; */
    position: absolute;
    z-index: 9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page3-upper img{
    width: 35vw;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
}

.page3-upper-inner{
    position: absolute;
    bottom: 0%;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
}

.page3-upper-inner h3{
    color: #FF9155;
}

#page3>button{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 14px;
    border: 1px solid #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    font-size: 25px;
}

#page4{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page4>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page4-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

#page5{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
}

.page5-right{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: aqua; */
}

.page5-right h3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2vw;
}


.page5-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    /* background-color: pink; */
}

.page5-left h4{
    font-size: 1.5vw;
    width: 80%;
    line-height: 2.5vw;
}

.page5-left>button{
    background-color: #FF9155;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.3vw;
    margin-top:20px;
    cursor: pointer;
}

#page6{
    width: 100vw;
    height: 80vh;
    margin-top: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F5F5F7;
    position: relative;
}

#page6 h4{
    margin-bottom: 2vw;
    font-size: 2vw;
}

#page6 h1{
    margin-bottom: 4vw;
    font-size: 4vw;
}

#page6 p{
    margin-bottom: 4vw;
    font-size: 1.5vw;
    line-height: 3vw;
    font-weight: 500;
    text-align: center;
    width: 60%;
}

#page7{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page7>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}

#page8>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page8>h1>span{
    color: #000;
}

#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page9>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page9>h1>span{
    color: #000;
}

#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}

#page10>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page10>h1>span{
    color: #000;
}

#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page11>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page11>h1>span{
    color: #000;
}

#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;

}

#page12>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page12>h1>span{
    color: #000;
}

#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page13>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page13>h1>span{
    color: #000;
}

#page14{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #fff;
    padding: 10px;
}

.page14-left{
    width: 40%;
    height: 100%;
    position: relative;
    background: url(img-css/apple-vision/page14-1.jpg);
    background-size: cover;
}

.page14-right{
    width: 40%;
    height: 100%;
    position: relative;
    background: url(img-css/apple-vision/page14-2.jpg);
    background-size: cover;
}

#page15{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page15-center{
    width: 95%;
    height: 90%;
    position: relative;
}

.page15-center>video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#page16{
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page16>h2{
    width: 80%;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: #4d4d4d;
}

#page16>h2>span{
    color: black;
}

#page16>img{
    width: 45%;
    object-fit: contain;
}

#page16>button{
    padding: 10px 20px;
    font-size: 1.2vw;
    background-color: #FF9155;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
}

#page17{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}

#page17>h4{
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}

#page17>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
}

#page17>p{
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2vw;
    color: #ffffff7c;
    width: 50%;
    text-align: center;
}

#page17>p>span{
    color: #fff;
}


#page18{
    position: relative;
    height: 100vh;
    width: 100vw;
    top: 0%;
}

#page18>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vw;
}

#page19{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}

#page19>h5{
    width: 35%;
}

#page20{
    position: relative;
    height: 150vh;
    width: 100vw;
    background-color: #000;
}

#page20>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#center-page20{
    position: absolute;
    height: 20%;
    width: 20%;
    bottom: 28%;
    right: 5%;
    color: #fff;
}

#center-page20>h1{
    margin-bottom: 1.7vw;
}

#page21{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page21>#troff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}

#page21>#tron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}

#page21a{
    width: 100vw;
    height: 60vh;
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page21a>h3{
    color: white;
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

#page21a>p{
    color: #f5f5f7af;
    font-size:1.6vw ;
    line-height: 2.5vw;
    width: 60%;
    text-align: center;
}

#page21a>p>span{
    color: #fff;
}


#page22{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page22>#snroff{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
    z-index: 9;
}

#page22>#snron{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 50%;
}

#page22a{
    width: 100vw;
    height: 60vh;
    position: relative;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page22a>h3{
    color: white;
    font-size: 2.5vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

#page22a>p{
    color: #f5f5f7af;
    font-size:1.6vw ;
    line-height: 2.5vw;
    width: 60%;
    text-align: center;
}

#page22a>p>span{
    color: #fff;
}

#page23{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page23>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity:0
}

footer{
    position: relative;
    width: 100vw;
    margin: 2vw;
    background-color: #f5f5f7;
}

footer>.foot1{
    margin-bottom: 1vw;
}

/* responsive css */

@media (max-width:1300px){
    .page-bottom img {
        width: 40vw;
    }

    .page3-upper {
        width: 60%;
    }

    .page5-right h3 {
        top: 40%;
    }

    #page17>p {
        line-height: 40px;
        width: 60%;
    }
}

@media (max-width:1000px){
    #page>video {
        display: none;
    }

    .page-bottom img {
        width: 80vw;
    }

    #page1>h1,
    #page2>h1,
    .page4-center {
        font-size: 4.5vw;
    }

    .page3-upper img {
        width: 50vw;
    }

    .page3-upper {
        width: 60%;
    }

    .page3-upper h3:nth-child(1){
        margin-bottom: 20px;
    }

    .page3-upper-inner {
      display: inline-block;
      height: 50%;
    }

    #page3>button {
        font-size: 18px;
    }

    .page5-right h3 {
        font-size: 4vw;
    }

    .page5-left h4 {
        font-size: 2vw;
        width: 85%;
        line-height: 3.5vw;
    }

    .page5-left>button {
        font-size: 2.5vw;
    }

    #page6 h4 {
        font-size: 4vw;
    }

    #page6 h1 {
        font-size: 6vw;
    }

    #page6 p {
        font-size: 2.5vw;
        line-height: 4vw;
        width: 80%;
    }

    #page>img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        left: 50%;
        transform: translateX(-50%);
        display:flex;
    }

    #page3>img {
        width: 95%;
    }

    #page7,
    #page8,
    #page9,
    #page10,
    #page11,
    #page12,
    #page13,
    #page15,
    #page18{
        display: none;
    }

    #page5,
    #page6,
    #page17,
    #page21a,
    #page22a{
        height: 40vh;
        margin-top: 0;
    }

    #page17>h4,
    #page17>h1 {
        font-size: 7vw;
        margin-bottom: 4vw;
    }

    #page14 {
        flex-direction: column;
    }

    .page14-left {
        width: 95%;
    }

    .page14-right {
        width: 95%;
        margin-top: 4px;
    }

    #page16>img,
    #page16>h2 {
        width: 95%;
    }

    #page16>button {
        font-size: 4vw;
    }

    #page17>p {
        line-height: 20px;
        width: 90%;
        font-size: 2.5vw;
    }

    #page19{
        font-size: 3.5vw;
    }

    #page19>h5 {
        width: 95%;
        line-height: 5vw;
        margin-top: 1vw;
    }

    #center-page20 {
        width: 90%;
    }

    #page21a>h3,
    #page22a>h3 {
        font-size: 5.5vw;
    }

    #page21a>p,
    #page22a>p {
        font-size: 2.6vw;
        line-height: 4.5vw;
        width: 80%;
    }

    footer {
     font-size: 2vw;
    }
}